<!DOCTYPE html>
<html lang="en">

<head>
  <title>Patient Portal Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">-->
  <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
  <link href="../vendor/bootstrap/fonts">
  <link href="../css/stylesheets.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

  <!-- The following code is for the login container-->
  <div class="login-container">
    <div class="row">
      <div class="col-md-offset-5 col-md-3">
        <div align="center" class="login-content">
          <img src="https://www.burke.org/prod/logo-news-placeholder-2017.png" class="sprite-logo">
          <p text-align="center" class="welctxt">Welcome to our Patient Portal</p>
          <form id="loginform">
            <div class="input-group">
              <input type="text" id="userName" required class="form-control input-sm chat-input" placeholder="Patient ID" />
              <input type="password" required id="userPassword" class="form-control input-sm chat-input" placeholder="Password" />
            </div>
          </form>
          <script src="../javascript/main.js"></script>
          <br>
          <div class="wrapper">
            <input type="submit" value="Sign In" class="btn btn-success btn-sm" />
            <a href="patient/patientDashboard.html" class="btn">
            <br></br>
            <!-- This is for the remember/forgot me portion -->
            <div class="remember-forgot align col-md-6">
              <p class="checkbox lvl1" style="float: left">
                <label><input type="checkbox" />Remember Me</label>
              </p>
              <div class="lvl1 col-md-6 forgot-pass-content" border-width="113px">
                <a href="#" class="forgot-pass ">Forgot Password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>
