{% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Patient Databse</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/dist/css/sb-admin-2.css' %}" rel="stylesheet">

  <!--  Color Calls -->
  <link href="{% static 'css/colors/background.css' %}" rel="stylesheet">
  <link href="{% static 'css/colors/text.css' %}" rel="stylesheet">

  <!-- Formatting Calls -->
  <link href="{% static 'css/formatting/div-paddings.css' %}" rel="stylesheet">
  <link href="{% static 'css/formatting/div-designs.css' %}" rel="stylesheet">
  <link href="{% static 'css/formatting/text-indenting.css' %}" rel="stylesheet">

  <!-- Font Calls -->
  <link href="{% static 'css/font/general-fonts.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

  <style>
    #patients tr:nth-child(even) {
      background-color: #bee5f4;
    }

    #patients tr:hover {
      background-color: #ddd;
    }

    #myTable th {
      background-color: #87CEEB
    }

    button {
      cursor: pointer;
    }
  </style>

</head>

<body ng-app="patientPortal">
  <ther-log-out></ther-log-out>
  <div class="row">
    <div class="col-sm-3" style="border-right: 0; padding: 5px 10px; padding-right: 0px; background-color: #F8F8F8;">
      <ther-Menu></ther-Menu>
    </div>
    <div class="col-sm-9" style="padding-left: 10px; padding-right: 0;">
      <div class="container">
        <h2>Patient Database</h2>
        <!---Search bar--->
        <input class="form-control" id="myInput" type="text" placeholder="Search Database...">
        <br>
        <!---Patient table--->
        <table id="myTable" class="table table-bordered table-striped table-responsive table-hover table-active table-condensed sortable">
          <!--Headers--->
          <thead>
            <tr>
              <th>First Name</th>
              <th>Lastname</th>
              <th>Email</th>
              <th>Cohort Number</th>
              <th>Record ID</th>
              <th>Action</th>
            </tr>
          </thead>
          <!---Patient information by row--->
          <tbody id="Patients">
            {% for patient in patients %}
            <tr class="item">
              <td>{{patient.first_name}}</td>
              <td>{{patient.last_name}}</td>
              <td>{{patient.email}}</td>
              <td>{{patient.cohort_num}}</td>
              <td>{{patient.record_id}}</td>
              <td>
                <a href="# <button type="button" class="btn btn-info btn-sm">View Profile</button>
        </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <!---Filter through table--->
  <script>
    $(document).ready(function() {
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#Patients tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>

  <!---Update value red if greater than 0-->
  <script>
    $(document).ready(function() {

      $(".update").each(function() {
        var el = $(this);
        var value = parseFloat(el.text());
        if (value > 0) {
          el
            .css("font-weight", "bold")
            .css("color", "red");

        } else {
          el.css("font-weight", "normal");
        }
      });

    });
  </script>
  <!---Sort table--->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <script src="{% static 'javascript/app.js' %}"></script>
  <script src="{% static 'javascript/directives/therLogOut.js' %}"></script>
  <script src="{% static 'javascript/directives/therMenu.js' %}"></script>

</body>

</html>
{% endblock %}
