{% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Attendance</title>
  <!-- CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!--  Color Calls -->
  <link href="{% static 'css/colors/background.css' %}" rel="stylesheet">
  <link href="{% static 'css/colors/text.css' %}" rel="stylesheet">

  <!-- Formatting Calls -->
  <link href="{% static 'css/formatting/div-paddings.css' %}" rel="stylesheet">
  <link href="{% static 'css/formatting/div-designs.css' %}" rel="stylesheet">
  <link href="{% static 'css/formatting/text-indenting.css' %}" rel="stylesheet">

  <!-- Font Calls -->
  <link href="{% static 'css/font/general-fonts.css' %}" rel="stylesheet">
  <style>
    #reports {
      width: 600px;
      height: 600px;
      overflow: scroll;
    }

    .reportButton {
      margin-top: 10px;
      width: 95%;
    }

    .reportButtonText {
      text-align: left;
    }

    h4 {
      margin-bottom: 4px;
    }

    h1 {
      text-align: center;
    }

    #graphInfo {
      text-align: center;
    }
  </style>
</head>

<body ng-app="patientPortal">
  <log-out-bar></log-out-bar>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Attendance</h1>
      <canvas id="attendanceChart" width="400" height="200"></canvas>
      <div id="graphInfo">
        <h3 id="appointmentsAttended">Appointments attended: </h3>
        <h3 id="appointmentsRemaining">Appointments remaining: </h3>
      </div>
    </div>
  </div>

  <!-- JavaScript files -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'javascript/Chart.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="{% static 'javascript/app.js' %}"></script>
  <script src="{% static 'javascript/directives/logOutBar.js' %}"></script>

  <script>
    $(document).ready(function() {
      $.getJSON('?action=pull', function(json) {
        months = json.months
        month_names = []
        attended = []
        for (var month in months){
          month_names.push(month)
          attended.push(months[month])
        }
        var attendanceChart = document.getElementById("attendanceChart"),
          appointmentsAttendedId = document.getElementById("appointmentsAttended"),
          appointmentsRemainingId = document.getElementById("appointmentsRemaining");
        var myBarChart = new Chart(attendanceChart, {
          type: 'bar',
          data: {
            labels: month_names,
            datasets: [{
              label: '# of Appointments',
              data: attended,
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  min: 0,
                  stepSize: 1,
                  beginAtZero: true
                }
              }]
            }
          }
        });

        // Need to make service call for reportData once we have info from Dcap
        appointmentsAttended = json.appts_attended,
          appointmentsRemaining = json.appts_left;
        //Set graph info
        appointmentsAttendedId.textContent += appointmentsAttended;
        appointmentsRemainingId.textContent += appointmentsRemaining;
      })
    })
  </script>
</body>

</html>
{% endblock %}
