{% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Appointments</title>
    <!-- CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/clndr.css' %}" type="text/css" />

    <!--  Color Calls -->
    <link href="{% static 'css/colors/background.css' %}" rel="stylesheet">
    <link href="{% static 'css/colors/text.css' %}" rel="stylesheet">

    <!-- Formatting Calls -->
    <link href="{% static 'css/formatting/div-paddings.css' %}" rel="stylesheet">
    <link href="{% static 'css/formatting/div-designs.css' %}" rel="stylesheet">
    <link href="{% static 'css/formatting/text-indenting.css' %}" rel="stylesheet">

    <!-- Font Calls -->
    <link href="{% static 'css/font/general-fonts.css' %}" rel="stylesheet">
    <style>
      #nextAppointmentDetails{
        text-align: center;
      }
      .modal-header{
        text-align: center;
      }
      .modal-body{
        text-align: center;
      }
    </style>
  </head>

  <body ng-app="patientPortal">
    <log-out-bar></log-out-bar>
    <!-- Popup window -->

    <div id="appointmentModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Future Appointment Information</h3>
          </div>
          <div class="modal-body">
            <h4 id="futureApptDate"></h4>
            <h4 id="futureApptTime"></h4>
            <button type="button" id="cancelbtn" class="btn btn-danger" data-dismiss="modal">Cancel Appointment</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" id="reschedulebtn" class="btn btn-primary">Reschedule</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-12 col-md-12">
        <div id="nextAppointmentDetails">
          <h1>Next appointment:</h1>
          <h3 id="nextAppointmentDate"></h3>
          <h3 id="nextAppointmentDoctor"></h3>
        </div>
      </div>


      <div class="col col-lg-1 col-md-1"></div>
      <div class="col col-lg-10 col-md-10">
        <div class="cal1">
          <div class="clndr">
            <div class="clndr-controls">
              <div class="clndr-control-button">
                <p class="clndr-previous-button">previous</p>
              </div>
              <div class="month"></div>
              <div class="clndr-control-button rightalign">
                <p class="clndr-next-button">next</p>
              </div>
            </div>
            <table class="clndr-table">
              <thead>
                <tr class="header-days">
                  <td class="header-day">SUN</td>
                  <td class="header-day">MON</td>
                  <td class="header-day">TUE</td>
                  <td class="header-day">WED</td>
                  <td class="header-day">THU</td>
                  <td class="header-day">FRI</td>
                  <td class="header-day">SAT</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="day past adjacent-month last-month calendar-day-2015-04-26"><div class="day-contents">26</div></td>
                  <td class="day past adjacent-month last-month calendar-day-2015-04-27"><div class="day-contents">27</div></td>
                  <td class="day past adjacent-month last-month calendar-day-2015-04-28"><div class="day-contents">28</div></td>
                  <td class="day past adjacent-month last-month calendar-day-2015-04-29"><div class="day-contents">29</div></td>
                  <td class="day past adjacent-month last-month calendar-day-2015-04-30"><div class="day-contents">30</div></td>
                  <td class="day past calendar-day-2015-05-01"><div class="day-contents">1</div></td>
                  <td class="day past calendar-day-2015-05-02"><div class="day-contents">2</div></td>
                </tr>
                <tr>
                  <td class="day past calendar-day-2015-05-03"><div class="day-contents">3</div></td>
                  <td class="day past calendar-day-2015-05-04"><div class="day-contents">4</div></td>
                  <td class="day past calendar-day-2015-05-05"><div class="day-contents">5</div></td>
                  <td class="day past calendar-day-2015-05-06"><div class="day-contents">6</div></td>
                  <td class="day past calendar-day-2015-05-07"><div class="day-contents">7</div></td>
                  <td class="day past calendar-day-2015-05-08"><div class="day-contents">8</div></td>
                  <td class="day past calendar-day-2015-05-09"><div class="day-contents">9</div></td>
                </tr>
                <tr>
                  <td class="day past calendar-day-2015-05-10"><div class="day-contents">10</div></td>
                  <td class="day past calendar-day-2015-05-11"><div class="day-contents">11</div></td>
                  <td class="day past calendar-day-2015-05-12"><div class="day-contents">12</div></td>
                  <td class="day past calendar-day-2015-05-13"><div class="day-contents">13</div></td>
                  <td class="day calendar-day-2015-05-14"><div class="day-contents">14</div></td>
                  <td class="day calendar-day-2015-05-15"><div class="day-contents">15</div></td>
                  <td class="day calendar-day-2015-05-16"><div class="day-contents">16</div></td>
                </tr>
                <tr>
                  <td class="day calendar-day-2015-05-17"><div class="day-contents">17</div></td>
                  <td class="day calendar-day-2015-05-18"><div class="day-contents">18</div></td>
                  <td class="day calendar-day-2015-05-19"><div class="day-contents">19</div></td>
                  <td class="day calendar-day-2015-05-20"><div class="day-contents">20</div></td>
                  <td class="day calendar-day-2015-05-21"><div class="day-contents">21</div></td>
                  <td class="day calendar-day-2015-05-22"><div class="day-contents">22</div></td>
                  <td class="day calendar-day-2015-05-23"><div class="day-contents">23</div></td>
                </tr>
                <tr>
                  <td class="day calendar-day-2015-05-24"><div class="day-contents">24</div></td>
                  <td class="day calendar-day-2015-05-25"><div class="day-contents">25</div></td>
                  <td class="day calendar-day-2015-05-26"><div class="day-contents">26</div></td>
                  <td class="day calendar-day-2015-05-27"><div class="day-contents">27</div></td>
                  <td class="day calendar-day-2015-05-28"><div class="day-contents">28</div></td>
                  <td class="day calendar-day-2015-05-29"><div class="day-contents">29</div></td>
                  <td class="day calendar-day-2015-05-30"><div class="day-contents">30</div></td>
                </tr>
                <tr>
                  <td class="day calendar-day-2015-05-31"><div class="day-contents">31</div></td>
                  <td class="day adjacent-month next-month calendar-day-2015-06-01"><div class="day-contents">1</div></td>
                  <td class="day adjacent-month next-month calendar-day-2015-06-02"><div class="day-contents">2</div></td>
                  <td class="day adjacent-month next-month calendar-day-2015-06-03"><div class="day-contents">3</div></td>
                  <td class="day adjacent-month next-month calendar-day-2015-06-04"><div class="day-contents">4</div></td>
                  <td class="day adjacent-month next-month calendar-day-2015-06-05"><div class="day-contents">5</div></td>
                  <td class="day adjacent-month next-month calendar-day-2015-06-06"><div class="day-contents">6</div></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div>{{data}}</div>
      <div class="col col-lg-1 col-md-1"></div>
    </div>
    <!-- JavaScript files -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'javascript/clndr.js' %}"></script>
    <script src="{% static 'javascript/moment-2.2.1.js' %}"></script>
    <script src="{% static 'javascript/underscore-min.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <script src="{% static 'javascript/app.js' %}"></script>
    <script src="{% static 'javascript/directives/logOutBar.js' %}"></script>

    <script>
    var calendar = {},
        currentSelection = {};
    function getNumString(numberStr){
      var suffix;
      if (numberStr[numberStr.length-1] == '1'){
        suffix = 'st'
      }else if (numberStr[numberStr.length-1] == '2'){
        suffix = 'nd'
      }else if (numberStr[numberStr.length-1] == '3'){
        suffix ='rd'
      }else{
        suffix = 'th'
      }
      return (numberStr+suffix)
    }
    function resolveTime(time){
      var time = time.split(':');
      var hour = parseInt(time[0])
      if (hour <12){
        description = "A.M."
      } else{
        description = "P.M."
      }
      if (hour > 12){
        hour -= 12;
      }
      if (hour == 0){
        hour = 12;
      }
      time[0] = hour.toString()
      return time.join(':')+" "+description
    }
    function convertToReadableFormat(appt){
      var date = appt.date;
      var time = appt.time;
      time = resolveTime(time)
      var dateArray = date.split('-');
      var lookUpMonth = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
      var monthNum = parseInt(dateArray[1])-1;
      var monthString = lookUpMonth[monthNum];
      var dayNum = dateArray[2];
      var dayString = getNumString(dayNum);
      var yearString = dateArray[0]
      var dateString = monthString + " " + dayString + ", " + yearString + " @ " + time;
      return dateString
    }
    $(document).ready( function() {
      $.getJSON('?action=pull',function(json){
        //Call service to get calendar data and next appointment details
        var futureApptDates = json.appts.future_appts;
        var pastApptDates = json.appts.past_appts
        var nextAppt = futureApptDates[0]
        var nextApptDate = convertToReadableFormat(nextAppt); // 'Feb 20th, 2018 @ 2:00pm',
        var nextApptDoctor = nextAppt.therapist_name;
        //Set next appointment info
        nextAppointmentDate.textContent += nextApptDate;
        nextAppointmentDoctor.textContent += ("With " + nextApptDoctor);
        futureApptTimesObj = {};
        futureApptDates.forEach(function(appt){
          time = resolveTime(appt.time)
          futureApptTimesObj[appt.date] = {'time':time,'Unique_ID':appt.Unique_ID};
        });
        calendar = $('.cal1').clndr({
          events: futureApptDates,
          clickEvents: {
            click: function(target) {
              if($(target.element).hasClass('event')) {
                var day = $(target.element)[0].className.split(' ')[3];
                var time = futureApptTimesObj[day].time;
                var Unique_ID = futureApptTimesObj[day].Unique_ID
                $('#appointmentModal').modal('show');
                //Future appt info
                futureApptDate.textContent = 'Date: ' + day;
                futureApptTime.textContent = 'Time: ' + time;
                currentSelection = {
                  date: day,
                  time: time,
                  Unique_ID : Unique_ID
                };
              }
            }
          },
          multiDayEvents: {
            startDate: 'startDate',
            endDate: 'endDate'
          },
          showAdjacentMonths: true,
          adjacentDaysChangeMonth: false
        });
      })

      //Cancellation of appt
      $(document).on('click', '#cancelbtn', function(evt){
        var dataType = 'json',
            data = currentSelection,
            time = data.time,
            date = data.date,
            Unique_ID = data.Unique_ID;
        var requestObject = {
          Unique_ID: Unique_ID,
          action: 'cancel'
        };
        makeServiceCall(requestObject);
        alert('You have requested cancelling your appointment at ' + time + ' on ' + date);
      });
      //Rescheduling of appt
      $(document).on('click', '#reschedulebtn', function(evt){
        alert("Lets do this")

        var dataType = 'json',
        data = currentSelection;
        data['action'] = 'reschedule'
        makeServiceCall(data)
        alert('You have requested to reschedule your appointment for '
              + currentSelection.time + ' on ' +currentSelection.date +
              '. Your therapist will contact you!');
      });
      function makeServiceCall(requestObject){
        $.ajax({
          url: '',
          type: 'POST',
          dataType: 'json',
          data: requestObject
        })
      }
    });
    </script>
  </body>
</html>
{% endblock %}
