{% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
<div id="wrapper">
  <div id="myScheduler"></div>
</div>

<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"></link>
<script src="{% static 'javascript/jquery/jquery-1.10.2.js' %}"></script>
<script src="{% static 'javascript/physicianCalendar.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<style>
#choosePatientButton{
  width: 100%;
}
</style>
<script>
  //Get patients from service to create the patient dropdown
  var patients = ['Jesus','Dr. Wang', 'Aimee','Revital','Teddy','Kevin'],
  // NOTE: replace with p = User.objects.filter(groups__name='patient')
      i = 0,
      patientsLength = patients.length,
      htmlPatientDropdownString = '<option>Choose Patient</option>';

  for(;i<patientsLength;i++){
    htmlPatientDropdownString += "<option>"+ patients[i] +"</option>";
  }

  var patientDropdown = "<select class=\"custom-select\" id=\"choosePatientButton\">"+htmlPatientDropdownString+"</select>";

  YUI().use(
    'aui-scheduler',
    function(Y) {
      var events = [
        {
          color: "#8d8",
          content: 'Earth Day Lunch',
          disabled: true,
          endDate: new Date(2018, 3, 17, 13),
          meeting: true,
          reminder: true,
          startDate: new Date(2018, 3, 17, 12)
        }
      ];

      var agendaView = new Y.SchedulerAgendaView();
      var dayView = new Y.SchedulerDayView();
      var weekView = new Y.SchedulerWeekView();
      var monthView = new Y.SchedulerMonthView();

      var eventRecorder = new Y.SchedulerEventRecorder();

      new Y.Scheduler(
        {
          activeView: weekView,
          boundingBox: '#myScheduler',
          date: new Date(),
          eventRecorder: eventRecorder,
          items: events,
          render: true,
          views: [dayView, weekView, monthView, agendaView]
        }
      );

      Y.Do.after(function() {
        var formFieldToDelete = Y.one('#schedulerEventRecorderForm .popover-title .scheduler-event-recorder-content'),
            formFieldToAppend = Y.one('#schedulerEventRecorderForm .popover-title');
        formFieldToAppend.appendChild(patientDropdown);
        formFieldToDelete.remove();

        //Disable save button unless selected
        var saveButton = $(".popover-footer button:first");
        saveButton.attr("disabled", "disabled");

        $('#choosePatientButton').change(function(data){
          if(patients[data.target.selectedIndex-1] === 'Choose Patient'){
            saveButton.attr("disabled", "disabled");
          } else {
            saveButton.attr("disabled", "false");
          }
        });
      }, eventRecorder, 'showPopover');

      //TODO: Make a service call after user clicked save/delete.
      //TODO: Disable button unless the user selected an option
      //TODO: Make a service call after resizing
      //TODO: Make a service call after dragging the Date
      //TODO: Show default patient when clicking on event
    }
  );
</script>

</html>
{% endblock %}
