{% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Patient Portal Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../vendor/bootstrap/fonts">
  <link rel="stylesheet" type="text/css" href="{% static 'login/css/stylesheets.css' %}" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

  <!-- The following code is for the login container-->
  <div class="login-container">
    <div class="row">
      <div class="col-md-offset-5 col-md-3">
        <div align="center" class="login-content">
          <img src="https://www.burke.org/prod/logo-news-placeholder-2017.png" class="sprite-logo">
          <p text-align="center" class="welctxt">Welcome to our Patient Portal</p>
          <form action="" method="post">{% csrf_token %} {% if form.email.errors %} {{ form.email.errors }} {% endif %}
            <div style="padding: 15px">
              <label>{{ form.email.label_tag }}</label> <br>
              <p style="margin-top: 5px;">{{ form.email }}</p>
            </div>
            <style>
            label{
              margin-bottom: 0px;
            }
            input{
              margin-top: 0px;
              border: none;
              width: 100%;
              border-bottom: solid black 1px;
            }
            </style>
            <input type="submit" class="btn btn-success btn-sm" value="Reset Password" />
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    <script src="{% static 'login/javascript/main.js' %}"></script>
</body>

</html>



{% endblock %}
