
.primary-background{
  background-color: #4a7d62 !important;
}
.secondary-background{
  background-color: #bd5939 !important;
}
.tertiary-background{
  background-color: #5c96a0 !important;
}
.quaternary-background{
  background-color: #dea200 !important;
}
.snow-background{
  background-color: #FFFAFA !important;
}
